<h1 style = 'margin-top:100px; max_width:20px'>Store all your to-do tasks here and organize your day!</h1>

<p>If you are a new user, <%= link_to "sign up here","/users/new" %></p>
<p style = 'margin-bottom:100px'>If you are an existing user, <%= link_to "sign in here","/signin"%></p>
