<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Management App</title>
  </head>

    <main class='TodoPageMain'>

        <h1 class='TodoPage-Title'> My TODO List </h1>

        <section class = 'TodoPage-Inputs'>

        <form class ='AddTodo' action ='/todos' method = 'POST'>

        <input type="text" class='AddTodo-Text'
        placeholder="What's next?" name = 'todo_text'>
        <input type='date' class='AddTodo-Date'
        name = 'due_date'>
        <input type= "submit" class='AddTodo-Button' value="Add">

        </form></section>

        <%= render partial:"todo-section",
        locals:{
          section_title: "Overdue",
          todos: Todo.overdue,
          show_due_date: TRUE
        }%>

        <%= render partial: "todo-section",
          locals:{
          section_title: "Due today",
          todos: Todo.due_today,
          show_due_date: FALSE
        } %>

        <%= render partial: "todo-section",
        locals:{
          section_title: "Due Later",
          todos: Todo.due_later,
          show_due_date: TRUE
        }%>

      </main>
  </body>
</html>
